/* font-family: 'Roboto', sans-serif; */

html {
    scroll-behavior: smooth;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}



/*----------------------------- NAVBAR----------------------------- */

.navigation-section {
    padding: 1.06% 6.75%;
    position: fixed;
    width: 100%;
    z-index: 2;
    background: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar {
    background: #ffffff !important;
    font-family: 'Roboto', sans-serif;
}

.navbar .nav-item .nav-link {
    font-size: 17px;
    font-weight: 400;
    color: #262A2F;
    margin: 0 25px;
}

.navbar .nav-item .nav-link:hover {
    background-color: #8c1dd6;
    color: #ffffff;
    border-radius: 5px;
}

.navbar .main-btn {
    background: #8c1dd6;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 25px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 15px;
}

.navbar .main-btn:hover {
    background: #6606a7;
}

@media (max-width: 375px) {
    .navigation-section {
        padding: 20px;
    }
}



/* --------------------------------HOME-----------------------------------  */

.container-fluid {
    padding: 5% 6.75%;
}

.container-fluid .hero-content-section {
    max-width: 496px;
}

@keyframes animation1 {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.container-fluid .hero-content-section .heroSection-Heading {
    animation-duration: 2.8s;
    animation-name: animation1;
}

@keyframes animation2 {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.container-fluid .hero-content-section .heroSection-Paragraph {
    animation-duration: 2.8s;
    animation-name: animation2;
}

@keyframes animation3 {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.hero-section .container-fluid .row {
    margin-top: 70px;
}

.container-fluid .hero-content-section .btn {
    animation-duration: 2.8s;
    animation-name: animation3;
}

.container-fluid .heroSection-Heading {
    font-size: 45px;
    line-height: 62px;
    color: black;
    margin-top: 90px;
    font-family: "Roboto", sans-serif;
}

.container-fluid .heroSection-Paragraph {
    font-size: 20px;
    line-height: 30px;
    color: black;
    margin-top: 1rem;
}

.container-fluid .hero-content-section .secondary-button {
    width: 172px;
    height: 43px;
    background-color: #8c1dd6;
    margin-top: 24px;
    font-size: 20px;
    line-height: 27px;
    color: white;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.container-fluid .secondary-button:hover {
    background-color: #6606a7;
    transition: 0.2s;
    transform: scale(1.08);
}

.container-fluid .hero-image {
    width: 100%;
    height: 100%;
}

.container-fluid .hero-image:hover {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: 2s;
    cursor: pointer;
}

@media (max-width: 375px) {
    .container-fluid {
        padding: 68px 18px;
        text-align: center;
    }

    .container-fluid .hero-content-section {
        max-width: 338px;
    }

    .container-fluid .heroSection-Heading {
        font-size: 32px;
        line-height: 44.8px;
        margin-top: 0;
    }

    .container-fluid .heroSection-Paragraph {
        font-size: 18px;
    }

    .container-fluid .secondary-button {
        margin-bottom: 24px;
        margin-top: 24px;
    }
}



/* ---------------------------------Mission----------------------------------- */

.buy {
    background: #FFE4E7;
}

.first-section-b1 .image {
    padding-bottom: 16px;
}

.first-section-b1 .heading h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 16px;
}

.first-section-b1 .heading p {
    font-size: 24px;
    line-height: 36px;
}

@media (max-width: 375px) {

    .first-section-b1 {
        margin-top: -20px;
    }

    .first-section-b1 .heading h1 {
        font-size: 32px;
    }

    .first-section-b1 .heading p {
        font-size: 18px;
        line-height: 36px;
    }

    .first-section-b1 .image {
        text-align: left;
    }

    .first-section-b1 .graph-img {
        padding-top: 35px;
    }
}



/* -----------------------------------ABOUT-US-------------------------------------- */

.info-section .info-container-fluid {
    padding: 6% 6.75%;
    background-color: #00adbb;
}

.info-section .info-container-fluid .info-heading {
    max-width: 485px;
}

.info-section .info-container-fluid .info-heading h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 140%;
    color: white;
}

.info-section .info-container-fluid .info-section-paragraph {
    max-width: 492px;
}

.info-section .info-container-fluid .info-section-paragraph .desktop-info-content {
    display: flex;
    flex-direction: column;
}

.info-section .info-container-fluid .info-section-paragraph p {
    font-weight: 400;
    line-height: 150%;
    font-size: 16px;
    color: white;
    margin-left: 18%;
}

.info-section .info-container-fluid .info-button {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 150%;
    color: white;
    text-decoration: none;
    margin-left: 18%;
}

.arrow-anchor {
    display: flex;
    color: white;
    align-items: center;
}

.arrow-anchor .info-button:hover {
    text-decoration: underline;
}

.arrow-anchor .arrow-btn {
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
}

@media (max-width: 375px) {
    .info-container-fluid {
        padding: 32px 24px;
    }

    .info-container-fluid .info-heading {
        max-width: 327px;
    }

    .info-container-fluid .row .info-heading h2 {
        font-size: 28px;
        line-height: 40px;
        text-align: center;
    }

    .info-container-fluid .info-section-paragraph .desktop-info-content p {
        font-size: 15px;
        text-align: center;
        margin-left: 0;
        padding-top: 20px;
    }

    .arrow-anchor {
        text-align: center;
    }
}



/* --------------------------------------CONTACT-US-----------------------------------  */

.form-list {
    background-color: #8c1dd613;
}

.form-list-fluid .input-field {
    margin-left: 200px;
    width: 400px;
    height: 64px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 5px 5px 8px #808080;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
}

.form-list-fluid .field1 {
    padding: 16px;
    margin-top: 64px;
    color: rgba(0, 0, 0, 0.6);
}

.form-list-fluid .field2 {
    opacity: 70%;
    padding: 16px;
    margin-top: 64px;
    margin-bottom: 5rem;
}

.form-list-fluid .field3 {
    opacity: 50%;
    padding: 16px;
    margin-bottom: 64px;
}

.form-pargraph-fluid {
    max-width: 394px;
    margin-top: 10%;
    margin-left: 20%;
}

.form-pargraph-fluid .desktop-form-content {
    display: flex;
}

.form-pargraph-fluid .insurance-img {
    display: flex;
}

.form-pargraph-fluid h2 {
    font-size: 40px;
    line-height: 60px;
    color: black;
    margin-top: 16px;
    font-family: "Roboto", sans-serif;
}

.form-pargraph-fluid p {
    font-size: 24px;
    color: black;
    line-height: 36px;
}

.form-pargraph-fluid .secondary-button {
    width: 150px;
    height: 43px;
    background-color: #8c1dd6;
    margin-top: 24px;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    border-radius: 30px;
    font-family: "Roboto", sans-serif;
}

.form-pargraph-fluid .secondary-button:hover {
    transition: 0.2s;
    transform: scale(1.08);
    color: #ffffff;
    background-color: #6606a7;
}

@media (max-width: 375px) {
    .form-pargraph-fluid p {
       font-size: 18px;
       text-align: left;
       margin-left: 0px;
    }

    .form-pargraph-fluid .secondary-button {
      margin-bottom: 50px;
      align-items: center;
    }

}



/* -------------------------------------FOOTER--------------------------------  */

.footer-section {
    background-color: #24021e;
}

.footer-section .block {
    padding-left: 100px;
}

.footer-section p {
    color: white;
    font-size: 16px;
    line-height: 24px;
}

.footer-section .container-fluid p:hover {
    color: white;
    color: #6606a7;
    transition: 0.4s;
    cursor: pointer;
}

.footer-section .Copyright p {
    padding-top: 15px;
}

@media (max-width: 375px) {
    .footer-section .bottom {
        text-align: center;
    }
}